<app-header></app-header>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="card mx-3 my-5">
        <div class="row">
          <div class="col-12 text-center">
            <p class="mt-5 mb-2 fs-3 fw-bold">Crear apuesta</p>
          </div>
        </div>

        <form class="mx-5 my-3" [formGroup]="apuestaForm" (ngSubmit)="createApuesta(apuestaForm.value)">

          <div class="form-group my-2">
            <div class="row">
              <div class="col-2 text-start">
                <label for="id_carrera">Carrera</label>
              </div>
              <div class="col-10">
                <select formControlName="id_carrera" class="form-control" (change)="
                  onCarreraSelect($event.target.value)">
                  <option value="">Selecciona una carrera...</option>
                  <option *ngFor="let item of carreras" value="{{ item.id }}">
                    {{ item.nombre_carrera }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-8">
                <div class="alert alert-danger my-3"
                  *ngIf="apuestaForm.get('id_carrera')?.hasError('required') && apuestaForm.get('id_carrera')?.touched">
                  Debe seleccionar la carrera
                </div>
              </div>
            </div>
          </div>

          <div class="form-group my-2">
            <div class="row">
              <div class="col-2 text-start">
                <label for="id_competidor">Competidor</label>
              </div>
              <div class="col-10">
                <select formControlName="id_competidor" class="form-control">
                  <option value="">Selecciona un competidor...</option>
                  <option *ngFor="let item of competidores" value="{{ item.id }}">
                    {{ item.nombre_competidor }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-8">
                <div class="alert alert-danger my-3"
                  *ngIf="apuestaForm.get('id_competidor')?.hasError('required') && apuestaForm.get('id_competidor')?.touched">
                  Debe seleccionar un competidor
                </div>
              </div>
            </div>
          </div>

          <div class="form-group my-2">
            <div class="row">
              <div class="col-2 text-start">
                <label for="nombre_apostador">Apostador </label>
              </div>
              <div class="col-10">
                <input type="text" class="form-control" formControlName="nombre_apostador"
                  placeholder="Nombre del apostador">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-8">
                <div class="alert alert-danger my-3"
                  *ngIf="apuestaForm.get('nombre_apostador')?.hasError('required') && apuestaForm.get('nombre_apostador')?.touched">
                  Debe ingresar el nombre del apostador
                </div>
                <div class="alert alert-danger my-3" *ngIf="apuestaForm.get('nombre_apostador')?.hasError('minlength')">
                  El nombre del apostador debe tener por lo menos un carácter
                </div>
                <div class="alert alert-danger my-3" *ngIf="apuestaForm.get('nombre_apostador')?.hasError('maxlength')">
                  El nombre del apostador no debe exceder los 128 carácteres
                </div>
              </div>
            </div>
          </div>

          <div class="form-group my-2">
            <div class="row">
              <div class="col-2 text-start">
                <label for="valor_apostado">Valor</label>
              </div>
              <div class="col-10">
                <input type="number" class="form-control" formControlName="valor_apostado"
                  placeholder="Valor de la apuesta">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-8">
                <div class="alert alert-danger my-3"
                  *ngIf="apuestaForm.get('valor_apostado')?.hasError('required') && apuestaForm.get('valor_apostado')?.touched">
                  Debe ingresar el valor de la apuesta
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-6 text-end">
              <button class="btn btn-danger" (click)="cancelCreate()">Cancelar</button>
            </div>
            <div class="col-6 text-start">
              <button type="submit" class="btn btn-warning" [disabled]="!apuestaForm.valid">Crear</button>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>