name: Feature
on:
  push:
    branches:
      - "feature/**"
permissions:
  contents: write
jobs:
  automerge:
    name: Automerge
    runs-on: ubuntu-latest
    if: ${{ contains(github.event.head_commit.message, 'terminado') }}
    steps:
      - uses: actions/checkout@master
      - uses: nelonoel/branch-name@v1.0.1
      - name: merge feature into develop
        uses: tukasz/direct-merge-action@master
        with:
          GITHUB_TOKEN: ${{ secrets.TOKEN_USER }}
          commit-message: merge ${{env.BRANCH_NAME}} into develop RELEASE
          source-branch: ${{env.BRANCH_NAME}}
          target-branch: develop
